<% // create a list of javascript files to have the header load %>
<% var js_include = ['create_tvviewer.js']; %>
<% include header %>

<!-- Note that this is a post -->
<form id="create_tvviewer_form" action="<%= action %>">
    <h1>Watch New Show</h1>
    <% if(rs.length > 0) { %>
    <label for="TVShowID">Shows</label>

    <select id="TVShowID" name="TVShowID">
        <% for (var i=0; rs.length > i; i++) { %>
        <option value="<%= rs[i].ShowID %>">
            <%= rs[i].ShowName%>
        </option>
        <% } %>
    </select>
    <br />
    <td><input type="hidden" id="UserID" name="UserID" value= <%= userid %> /></td>

    <!-- not that we use a button here and not submit -->
    <br>
    <input type="button" id="createTVViewerBtn" value="Create" />
</form>

<% }   else { %>
The table does not contain any records.
<% } %>
<br />

<div id="output" style="margin:10px;display:none"></div>

<% include footer %>