<% include header %>

<% if(rs.length > 0)
{ %>
    First Name: <%= rs[0].FirstName %> <br />
    Last Name: <%= rs[0].LastName %> <br />
    Email: <%= rs[0].Email %> <br />

    <hr><hr/><br />

    <br />

    <a href="/friends/create">Create New Friendship</a> %>

<%}

 else { %>
    No user matched this user id <%= userid %>.
<% } %>

<% include footer %>