<h2>User Inserted</h2>
<% if(rs.length > 0) { %>
Username: <%= rs[0].Username %> <br />
First Name: <%= rs[0].Firstname %> <br />
Lastname: <%= rs[0].Lastname %> <br />
<% } else { %>
    No users matched this user id <%= user1id %>.
<% } %>