<% include header %>

    <div>
    <% if(rs.length > 0) { %>
        <table border="1">
            <tr><th>User</th><th>Friend</th></tr>
            <% for (var i=0; rs.length > i; i++) { %>
                <tr>
                 <td><%= rs[i].UserFirstName %><%= rs[i].UserLastName %></td>
                 <td><%= rs[i].FriendFirstName %><%= rs[i].FriendLastName %></td>
                </tr>
            <% } %>
        </table>
    <% } else { %>
         No friendships exists.
    <% } %>
    </div>

    <div style="margin-top:10px;">
        <a href="/friends/create">Create New Friendship</a>
    </div>

<% include footer %>