<!DOCTYPE html>
<html>
<head>
    <style>
        #footer {
            background-color:cadetblue;
            color:white;
            clear:both;
            text-align:center;
            padding:5px;
        }
    </style>
</head>
<body>

<div id="footer">
    5 Star Entertainment
</div>

</body>
</html>


<!--
<br />
    <footer>
        <a href="/">Go Home</a>

    </footer>

</body>
</html>

-->